<div class="flex flex-col items-center justify-center mt-5" *ngIf="usuario">
  <h1 class="text-center text-4xl text-[#FFFFFF] mt-5 font-bold">
    LISTADO DE USUARIOS
    <span class="cursor-pointer w-28 ml-5" (click)="showModal()"
      ><mat-icon matListItemIcon>person_add</mat-icon></span
    >
  </h1>
</div>

<div
  id="authentication-modal"
  tabindex="-1"
  id="formModal"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-md max-h-full modal">
    <!-- Modal content -->
    <div class="relative bg-[#221F1F] rounded-lg shadow">
      <button
        type="button"
        id="closeBtn"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
        data-modal-hide="authentication-modal"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-white text-center">
          Crear un nuevo usuario
        </h3>
        <form class="space-y-6" [formGroup]="userForm" autocomplete="off">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-white"
              >Nombre del usuario</label
            >
            <input
              type="text"
              formControlName="name"
              name="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="Nombre del usuario"
            />
            <div
              *ngIf="
                userForm.get('name').invalid && userForm.get('name').touched
              "
              class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1"
            >
              Nombre del usuario obligatorio
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-white"
              >Contraseña del usuario (mínimo 6 caracteres)</label
            >
            <input
              type="password"
              formControlName="password"
              name="password"
              id="password"
              placeholder="Contraseña del usuario (mínimo 6 caracteres)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            />
            <div
              *ngIf="
                userForm.get('password').invalid &&
                userForm.get('password').touched
              "
              class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1"
            >
              Contraseña obligatoria
            </div>
          </div>
          <div>
            <label
              for="rpassword"
              class="block mb-2 text-sm font-medium text-white"
              >Repetir contraseña</label
            >
            <input
              type="password"
              formControlName="rpassword"
              name="rpassword"
              id="rpassword"
              placeholder="Repetir contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            />
            <div
              *ngIf="
                userForm.get('rpassword').invalid &&
                userForm.get('rpassword').touched
              "
              class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1"
            >
              Repetir contraseña obligatorio
            </div>
          </div>
          <div>
            <label for="role" class="block mb-2 text-sm font-medium text-white"
              >Rol del usuario (admin o user)</label
            >
            <input
              type="text"
              formControlName="role"
              name="role"
              id="role"
              placeholder="Rol del usuario (admin o user)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            />
            <div
              *ngIf="
                userForm.get('role').invalid && userForm.get('role').touched
              "
              class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1"
            >
              Rol de usuario obligatorio
            </div>
          </div>
          <div
            *ngIf="passwordMatch"
            class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1 mb-5"
          >
            Las contraseñas no coinciden
          </div>

          <div
            *ngIf="roleCorrect"
            class="text-white mt-2 bg-red-800 w-full m-auto rounded-lg p-1 mb-5"
          >
            El rol es incorrecto (user o admin disponibles)
          </div>
          <button
            (click)="generar()"
            type="button"
            [disabled]="validateForm()"
            class="w-full text-white disabled:bg-orange-200 bg-orange-700 hover:bg-orange-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Crear usuario
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!users.data.length">
  <h2 class="text-red-500 text-2xl text-center mt-16">
    No hay ningún usuario creado
  </h2>
</div>

<div
  *ngIf="users.data && usuario && users.data.length > 0"
  class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5"
>
  <div class="overflow-x-auto">
    <table class="w-full border-collapse text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="px-6 py-4 font-medium text-gray-900 text-sm md:text-base lg:text-lg xl:text-xl"
          >
            Nombre
          </th>
          <th
            scope="col"
            class="px-6 py-4 font-medium text-gray-900 text-sm md:text-base lg:text-lg xl:text-xl"
          >
            Rol
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr *ngFor="let user of users.data" class="hover:bg-green-800">
          <td
            class="px-6 py-4 text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl"
          >
            {{ user.name }}
          </td>
          <td class="px-6 py-4">
            <div class="text-sm md:text-base lg:text-lg xl:text-xl">
              <div class="font-medium text-gray-400">
                {{ user.role | titlecase }}
              </div>
            </div>
          </td>

          <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
              <a
                x-data="{ tooltip: 'Delete' }"
                (click)="elimina(user.id)"
                *ngIf="user.name !== usuario.data.name"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="red"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </a>
              <a x-data="{ tooltip: 'Edite' }" (click)="edita(user.id)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="yellow"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                  />
                </svg>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
