<div class="p-5 text-center" *ngIf="document">
  <h1 class="text-center text-4xl text-[#FFFFFF] mt-5 font-bold">
    EDITAR INCIDENCIA Nº {{ document.data.id }} - CLIENTE Nº 0{{
      document.data.client_id
    }}
  </h1>
  <form [formGroup]="incidenciaForm" class="mt-8" autocomplete="off">
    <div class="mb-4">
      <label for="client" class="inline-block font-medium text-gray-700 mb-1"
        >Introduce el cliente</label
      >
      <input
        name="client"
        id="client"
        placeholder="Introduce el cliente (buscar por nombre)"
        formControlName="client_id"
        ngModel="{{ document.data.client_id }}"
        list="clients"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <div
        *ngIf="
          incidenciaForm.get('client_id').invalid &&
          incidenciaForm.get('client_id').touched
        "
        class="text-white mt-2 bg-red-800 w-1/2 m-auto rounded-lg p-1"
      >
        Introduzca un cliente valido (nº de cliente)
      </div>
      <datalist id="clients" class="mt-5 px-5">
        <option
          *ngFor="let client of clients.data"
          [value]="client.id"
          class=""
        >
          Cliente 0{{ client.id }} - {{ client.name }}
        </option>
      </datalist>
    </div>

    <div class="mb-4">
      <label for="type" class="inline-block font-medium text-gray-700 mb-1"
        >Tipo de dispositivo</label
      >
      <input
        type="text"
        formControlName="type"
        name="type"
        id="type"
        placeholder="Tipo de dispositivo"
        ngModel="{{ document.data.type }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <div
        *ngIf="
          incidenciaForm.get('type').invalid &&
          incidenciaForm.get('type').touched
        "
        class="text-white mt-2 bg-red-800 w-1/2 m-auto rounded-lg p-1"
      >
        Tipo obligatorio
      </div>
    </div>

    <div class="mb-4">
      <label for="model" class="inline-block font-medium text-gray-700 mb-1"
        >Modelo del dispositivo</label
      >
      <input
        type="text"
        formControlName="model"
        name="model"
        id="model"
        placeholder="Modelo del dispositivo"
        ngModel="{{ document.data.model }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <div
        *ngIf="
          incidenciaForm.get('model').invalid &&
          incidenciaForm.get('model').touched
        "
        class="text-white mt-2 bg-red-800 w-1/2 m-auto rounded-lg p-1"
      >
        Modelo obligatorio
      </div>
    </div>

    <div class="mb-4">
      <label for="serial" class="inline-block font-medium text-gray-700 mb-1"
        >Numero de serie del dispositivo</label
      >
      <input
        type="text"
        formControlName="serial"
        name="serial"
        id="serial"
        placeholder="Numero de serie del dispositivo"
        ngModel="{{ document.data.serial }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <div
        *ngIf="
          incidenciaForm.get('serial').invalid &&
          incidenciaForm.get('serial').touched
        "
        class="text-white mt-2 bg-red-800 w-1/2 m-auto rounded-lg p-1"
      >
        Nº de serie obligatorio
      </div>
    </div>

    <div class="mb-4">
      <label for="password" class="inline-block font-medium text-gray-700 mb-1"
        >Contraseña/patrón (opcional)</label
      >
      <input
        type="text"
        formControlName="password"
        name="password"
        id="password"
        placeholder="Contraseña/patrón (opcional) (En caso de patrón: 'Tiene patrón')"
        ngModel="{{ document.data.password }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
    </div>

    <div class="mb-4">
      <label for="charger" class="inline-block font-medium text-gray-700 mb-1"
        >Accesorios (opcional)</label
      >
      <input
        type="text"
        formControlName="charger"
        name="charger"
        id="charger"
        placeholder="Cargador/cables de alimentación (opcional)"
        ngModel="{{ document.data.charger }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
    </div>

    <div class="mb-4">
      <label for="task" class="inline-block font-medium text-gray-700 mb-1"
        >Trabajo a realizar</label
      >
      <textarea
        name="task"
        id="task"
        formControlName="task"
        placeholder="Trabajo a realizar"
        ngModel="{{ document.data.task }}"
        class="bg-gray-100 text-gray-800 block w-2/4 m-auto rounded-lg py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      ></textarea>
      <div
        *ngIf="
          incidenciaForm.get('task').invalid &&
          incidenciaForm.get('task').touched
        "
        class="text-white mt-2 bg-red-800 w-1/2 m-auto rounded-lg p-1"
      >
        Trabajo a realizar obligatorio
      </div>
    </div>

    <div class="flex items-center justify-center">
      <button
        class="m-auto disabled:bg-orange-200 bg-orange-500 px-10 py-3 rounded-lg text-white"
        (click)="editar()"
        [disabled]="validateForm()"
      >
        Actualizar incidencia
      </button>
    </div>
  </form>
</div>
